<%- include('templates/header') %>
<%- include('templates/navbar') %>

	<div class="container">
		<div class="row">
			<div class="col">
				<h1><%= title %></h1>
			</div>
		</div>
	</div>

<%- include('templates/footer') %>
